$c_brown :rgb(218, 170, 14);
$c_green :rgb(127, 236, 55);
$c_wheat :rgb(255, 255, 255);
$c_grey :rgb(212, 213, 216);
$c_light_green :rgb(170, 240, 113);
$c_blue :rgb(58, 107, 212);
$c_dark_grey :rgb(49, 49, 48);
$c_white :rgb(255, 255, 255);

$font_default: Arial, Helvetica, Sans-Serif;
$font_Sacramento : 'Sacramento', cursive;